/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-root {
  //   height: 100%;
  margin: 0px 30px 0px 30px;
  display: flex;
  //   flex-direction: column;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ece5e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e74485;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2185b;
}

a:visited {
  color: #c2185b;
}
